

.card-columns {
	margin-top: 40px;
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }

}
h1{
	margin-top: 1px;
	text-align: center;
	font-family: 'Bubbler One';
	font-size: 72px;
  background-color: #FFFFFF;

}
h2{
    margin-top: 1px;
  text-align: center;
  font-family: 'Sarabun', sans-serif;
  font-size: 60px;
  background-color: #FFFFFF;

}
h4{
    margin-top: -10px;
    margin-bottom: 10px;
  text-align: center;
  font-family: 'Sarabun', sans-serif;
  font-size: 30px;
  background-color: #FFFFFF;
}
body{
  background-color: #e6ecff;
}

.text{
  display: block;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 24px;
  margin-top: 20px;
  text-align: left;
  color: black;
}

.center {
  display: block;
  margin-left: 300;
  margin-right: 300px;
  width: 20%;
}
.card-body{
	   background: #e6ecff;
    color: black;
	text-align: center;
}
.card{
  text-align: center;
  background-color:#e6ecff;
}
