<!DOCTYPE html>
<html>


<head>
	<title>Administration Page</title>
	<link rel="stylesheet" type="text/css" href="AboutUs.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
</head>
<body>

	<div class = "banner">
		<header align="center" style="font-size:250%">

			<div class="hub">
				
				About Us

			</div>

		</header>
	</div>
	<br><br><br>
	<div class = "submit_form">

		<div  class="w3-container w3-center ">

			<div class="w3-panel w3-card">
				
				<p><b> We can can't help everyone, but everyone can help someone </b> <i>- Ronald Reagan</i></p>

				<p>Community Hub is dedicated to aid people with big hearts in lending hand to those in need in their community. Through our service, local shelters can post profiles of people with different needs, such as food, clothing, or toys for children. Others can then search through the profiles and select indviduals to whom they wish to donate. They can either send money electronically, or contact the person in need through email to arrange a meeting to personally donate the item. </p>

				<p> It is our mission to make giving easier and touch lives. A gift or donation, however small, can make an incredible difference in someone's life.   </p>

				<br><br>
			</div>
		</div>
	</div>

</div>

</body>
</html>