
<!DOCTYPE html>
<html lang = "en" >



<head>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>


<link href='https://fonts.googleapis.com/css?family=Bubbler One' rel='stylesheet'>

<style>
.card-columns {
  margin-top: 40px;
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }

}

h1{
  margin-top: 0px;
  text-align: center;
  font-family: 'Bubbler One';
  font-size: 72px;
}

h5{
  text-align: center;
  font-family: 'Times';
  font-size: 22px;
}
#adminButton{
margin-left: 90%;
margin-top: 20px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.card-body{
     background: gray;
    color: white;
  text-align: center;
}
</style>
</head>

<body>

<a id= "adminButton" href="http://localhost:3000/Anipso" class="btn btn-primary">Admin</a>




<div class = decorHome>
<h1> Community Hub </h1>
<h5> "Donate through accredited charities to meet the needs of individuals in your community."</h5>
 
 <br>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">HUB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
             <a class="nav-link" href="payment.html">Donate <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/AboutUs">About Us <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
          </form>
        </div>
      </div>
    </nav>



<div class="rightcolumn">

<img id= "charityImg" src="charity.png" class = "center" alt="charity image"> 
<div>


<div id = "reactDiv">

<div class="card-columns" >

    <div id="list" > </div>
    
    <% arrayPeople.forEach(function(person) { %>
      <div class="card">
      <div class="card-body">
        <h2 class = "card-title"><%=person.fullName%></h2>
        <h5 class = "card-title">Age: <%=person.age%></h5>
         
         <p class="card-text"> Need: <%=person.needDescription%></p>
        <a href="http://localhost:3000/VanessaToblerone" class="btn btn-primary">More Info</a>
      </div>
      </div>
    <% }); %>

</div>


</body>
</html>