body {
 /* background-image: url("backpics.jpeg");*/
 
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;              /* optional, center the image */
}

header {
	
    width:100%;
    height:105px;
    background-image:url("charity.png");
	display: flex;
  	position: absolute;
  	top: 0;
  	left: 0;
  	color: black;


}
nav {
	margin-top: 82px;
}


.hub {
	margin-top: 2%;
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.w3-container {

	margin-top: 6%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 4%;
	max-width: 600px;
	min-width: 550px;

}
#containthisish{
	margin-left: 7%;
}

.lastattemp {
	margin-left: 5%;
	max-width: 600px;
	min-width: 400px;
	margin-top: 40px;
	min-height: 300px;
}

.text-box {
	margin-left: 10px;
}

input {
  	margin-left: 500px;
  	align-self: auto;
}

#first{
	float:left;
}

#second{

	float:left;

}

.form-box {
	margin-left: 10%;
}

.myTextBox {
	margin-left: 10%;
}

.text{
	margin-left: 0px;
	margin-right: 20%;
	max-width: 600px;
	text-align: center;
}
.a{
	margin-left: 80px;
}

.b{
	margin-left: 80px;
}
.c{
	margin-left: 250px;
}
.location {
	margin-left: 0px;
}
.bottomSubmit{
	margin: auto;
}
/* BUTTON STUFF*/

.btn-group button {
	background-color: pink; /* Green background */
	border: 1px solid white; /* Green border */
	color: white; /* White text */
	padding: 10px 20px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */

}
.btn-group {
	margin-left: 0px;
	margin-right: 160px;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: blue;

}