<!DOCTYPE html>
<html>
<head>
	<title>Donate Page</title>
	<link rel="stylesheet" type="text/css" href="paymentStyles.css">
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


	<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>


	<link href='https://fonts.googleapis.com/css?family=Bubbler One' rel='stylesheet'>




</head>


<body>

	<header align="center" style="font-size:250%">
		<div class="hub">
			Community Hub Donation's Page
		</dir>
	</header>



	<br>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="/">HUB</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExample07">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/payment.html">Donate <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/AboutUs.html">About Us <span class="sr-only">(current)</span></a>
					</li>
				</ul>
				<form class="form-inline my-2 my-md-0">
					<input class="form-control" type="text" placeholder="Search" aria-label="Search">
				</form>
			</div>
		</div>
	</nav>

	<div  class="w3-container w3-center">
		<div class="w3-panel w3-card">		
			<h1 align="left"> Credit Card Info</h1>

			<div class="btn-group">
				<button>Visa</button>
				<button>Master Card</button>
				<button>Discover</button>
				<button>AMXs</button>
			</div>
			<br>
			<br>
			<form align="left" action="http://localhost:3000/donate">
				First name:
				<input type="text" name="firstname" value="">
				<br>
				Last name:        
				<input type="text" name="lastname" value="">
				<br>
				Account Number: 
				<input type="text" name="accountnumber" value="">
				<br>
				CVV: 
				<input type="text" name="cvv" value="">
				<br>
				Billing Address: 
				<input type="text" name="addy" value="">
				<br>
				Donation Amount: 
				<input type="text" name="amount" value="">
				<br>
				Donation:
				<select>
					<option value="item0"></option>
					<option value="item1">Coat for Jill</option>
					<option value="item2">Groceries for Johnny</option>
					<option value="item3">Hot meal for Vanessa</option>
					<option value="item4">Tie for Mike</otion>
						<option value="item5">Pair of socks for Jake</otion>
							<option value="item6">Sneakers for Billy</otion>
							</select>
							<br><br>
							<input type="submit" value="Submit">
							<input type="reset">
						</form>
						<br>
					</div>
				</div>

				<div align="left" class="w3-container w3-center ">
					<div align="left" class="w3-panel w3-card">	
						<div align="left" class = "text text-box">
							<h1 class="a">Item Donations</h1>
							<h9 class="b">If you'd like to donate a physical object instead,</h9> 
							<h9 class"c">contact us here! </h9>
							
							<p class="location">(Please include your name and contact information)</p>
							<form action="http://localhost:3000/donateT" class="form-box">
								<textarea name="myTextBox" cols="50" rows="5" class="myTextBox">

								</textarea>
								<br>
								<input class="bottomSubmit" type="submit" value="Submit">
								<input  type="reset">
							</form>
						<br>

						</div>
					</div>
				</div>

			<br><br>
	</body>

</html>